<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">        <!-- 移动端优化-->
    <title>标签新增</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body class="body">

<!--导航-->
<nav th:replace="admin/_fragment :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="item"><i class="small home icon"></i>博客</a>
            <a href="#" class="item"><i class="small idea icon"></i>分类</a>
            <a href="#" class="item"><i class="small tags icon"></i>标签</a>
            <div class="right menu">
                <div class="ui  dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/id/305/100/100" alt="" class="ui avatar image">
                        赵卿锋
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <a href="#" class="teal active item">发布</a>
            <a href="#" th:href="@{/admin/tags}" class="teal  item">列表</a>
        </div>
    </div>
</nav>

<!--中间内容-->
<div class="m-container  m-padded-tb-large">
    <div class="ui container">
        <form action="#" method="post" th:object="${tag}"  th:action="*{id}==null ? @{/admin/tags} : @{/admin/tags/{id}(id=*{id})}" class="ui form " style="margin-top: 150px">
            <input type="hidden" name="id" th:value="*{id}">
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">名称</label>
                    <input type="text" name="name" placeholder="标签名称" th:value="*{name}">
                </div>
            </div>
            <div class="ui error message"></div>
            <!--/*/<div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                <i class="close icon"></i>
                <div class="header">验证失败</div>
                <p th:errors="*{name}">提交信息不符合规则</p>
                </div>/*/-->
            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button class="ui teal submit button">提交</button>
            </div>
        </form>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>







<!--底部-->
<footer th:replace="admin/_fragment :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <img src="../../static/images/wechat.JPG" class="ui rounded image" alt="" style="width:110px">

            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>
                    <a href="#" class="item">用户故事(User Story)</a>

                </div>

            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:1837631136@qq.com</a>
                    <a href="#" class="item">QQ:1837631136</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">博客介绍</h4>
                <p class="m-text-lined m-opacity-mini m-text-thin">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p>Copyright © 2019-2020 Designed by zhaoqingfeng</p>
    </div>

</footer>

<!--/*/<th:block th:replace="_fragment :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'name',
                rules: [{
                    type: 'empty',
                    prompt: '请输入标签名称'
                }]
            }
        }
    })


</script>
</body>
</html>